@media screen and (max-width:1000px) {
    body {
        background: rgb(255, 255, 255);
    }
    .keyboard {
        background-color: #cecece;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .keys {
        font-size: 0px;
        width: 10cm;
        max-width: 100%;
        min-height: 10cm;
        max-height: 100%;
    }
    .key {
        width: 25%;
        max-width: 25vw;
        height: calc(10cm / 4);
        max-height: calc(((100vh/9)*4)/4);
        border: 0.5px solid #cecece;
    }
    .zero {
        width: 50%;
        max-width: 50vw;
    }
    .num {
        background-color: white;
    }
    .rest {
        display: grid;
        grid-template-rows: 1fr 4fr;
    }
    .content {
        display: flex;
        align-items: center
    }
    .space {
        margin: auto;
        font-size: 40px;
        width: 100vw;
        text-align: center;
    }
    content input {
        height: 40px;
        font-size: 40px;
        width: 40vw;
    }
    .popup {
        position: absolute;
        width: 90vw;
        background-color: #fff;
        margin: auto;
        top: 15vh;
        left: 5vw;
        padding: 10px;
        border-radius: 10vw;
        min-height: 70vh;
        text-align: center;
        font-size: 40px;
    }
    .popup input[type=range] {
        height: 40px;
        font-size: 40px;
        width: 40vw;
        max-width: 100%;
    }
    .popup input[type=checkbox] {
        height: 50px;
        font-size: 50px;
        width: 50px;
        max-width: 20vw;
    }
    .popup button {
        font-size: 40px;
        background-color: #ffff;
        border: none;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 10px rgb(158, 158, 158);
    }
    .popup button:active {
        box-shadow: 0px 0px 0px 7px rgb(158, 158, 158);
        transform: scale(0.7);
    }
    .title button {
        margin-top: 10px;
        right: 10px;
        font-size: 10px;
        background-color: #ffff;
        border: none;
        padding: 2.5x;
        border-radius: 4px;
        box-shadow: 0px 0px 0px 10px rgb(158, 158, 158);
    }
    .title button:active {
        box-shadow: 0px 0px 0px 8px rgb(158, 158, 158);
        transform: scale(0.8);
    }
    .title {
        text-align: center;
    }
}