        @media screen and (max-width:1000px) {
            body {
                background: rgb(255, 255, 255);
            }
            .grid {
                display: grid;
                grid-template-rows: 5fr 4fr;
            }
            .keyboard {
                background-color: #cecece;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
            }
            .keys {
                font-size: 0px;
                width: 10cm;
                max-width: 100%;
                min-height: 10cm;
                max-height: 100%;
            }
            .key {
                width: 25%;
                max-width: 25vw;
                height: calc(10cm / 4);
                max-height: calc(((100vh/9)*4)/4);
                border: 0.5px solid #cecece;
            }
            .zero {
                width: 50%;
                max-width: 50vw;
            }
            .num {
                background-color: white;
            }
            .content {
                display: flex;
                align-items: center
            }
            .space {
                margin: auto;
                font-size: 40px;
                width: 100vw;
                text-align: center;
            }
            input {
                height: 40px;
                font-size: 40px;
                width: 40vw;
            }
            .title {
                position: sticky;
                top: 0px;
                width: 100vw;
                padding: 10px;
                background-color: rgb(228, 228, 228);
                text-align: center;
            }
        }