.wrapper {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: hidden;
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr 8fr;
}

body {
    background: rgb(255, 255, 255);
}

html,
body {
    height: 100vh;
    margin: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}