.wrapper {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: hidden;
}

.grid {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr 8fr 9fr;
}

body {
    background: rgb(255, 255, 255);
}

html,
body {
    height: 100vh;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content input {
    padding: 10px
}

.selectiongrid {
    display: grid;
    grid-template-columns: 5fr 1fr;
    overflow-y: auto;
}

.popup {
    overflow-y: auto;
    max-height: 90vh;
}